@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

#our-stats{
	padding: 60px 0;
}

#our-stats .h1{
    color: #007b5e!important;
}

#our-stats a{
    color: #000!important;
    text-decoration:none;
}

#our-stats i{
    color: #3973ac!important;
}

#our-stats .counter {
    background-color: #f5f5f5;
    padding: 35px 0;
    border-radius: 5px;
}

#our-stats .counter i,
#our-stats .counter .count-title{
    margin-bottom: 15px;
}


#our-stats .counter p{
    font-style:italic;
    margin-bottom:0;
}