<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Python code checker</title>
  
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
   
   <link rel="stylesheet" href="{{ url_for('static', filename='css/stats.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/task.css') }}" type="text/css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">ВЛПІ</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
         <ul class="navbar-nav">
            <li class="nav-item">
               <a class="nav-link" href="/login">Головна</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/tasks">Завдання</a>
            </li>
               <li class="nav-item active">
               <a class="nav-link" href="/stats">Статистика<span class="sr-only">(current)</span></a>
            </li>
         </ul>
      </div>
   </nav>
   
  <div class="container">
	<section id="our-stats">
		<div class="row mb-5">
			<div class="col text-center">
				<h2 class="text-center">{{ username }}</h2>
				<p class="text-uppercase font-italic font-weight-light">It's your statistics</p>
			</div>
		</div>
		<div class="row text-center">
			<div class="col">
			  <div class="counter">
				<i class="fa fa-list-ol fa-2x"></i>
				<h2>{{ results['solved'] }}</h2>
				<p class="count-text ">Solved Tasks</p>
			  </div>
			</div>
			
			<div class="col">
			  <div class="counter">
				<i class="fa fa-star fa-2x"></i>
				<h2>{{ results['average'] }}</h2>
				<p class="count-text ">Average Rating</p>
			  </div>
			</div>
			
			<div class="col">
			  <div class="counter">
				<i class="fa fa-bug fa-2x"></i>
				<h2>{{ results['fails'] }}</h2>
				<p class="count-text ">Failed Submission</p>
			  </div>
			</div>

		</div>
	</section>
  </div>

  <div class="padding">
	   <div class="card">
		  <div class="card-header">
			 <h5 class="card-header-text">Tasks</h5>
		  </div>

		  <div class="card-block p-b-0">
			 <div class="row">
				<div class="col-md-12" id="sortable">
                    {% for result in results %}
                       <div class="task" style="" alt="">
                          <h6><a href="/tasks/{{ result['id'] }}">Task {{ result['id'] }}</a></h6>
                          <p>Rating: {{ result['percents'] }}%</p>
                          <p>Failed Test Cases: {{ result['fails'] }}</p>
                       </div>
                    {% endfor %}
				</div>
			 </div>
		  </div>
	   </div>
	</div>

  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  
</body>
</html>