<!doctype html>
<html>
   <head>
      <meta charset='utf-8'>
      <meta name='viewport' content='width=device-width, initial-scale=1'>
      <title>Python code checker</title>
      
	  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
      
	  <link rel="stylesheet" href="{{ url_for('static', filename='css/task.css') }}" type="text/css">
   </head>
   
   <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">ВЛПІ</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
         <ul class="navbar-nav">
            <li class="nav-item">
               <a class="nav-link" href="/">Головна</a>
            </li>
            <li class="nav-item active">
               <a class="nav-link" href="/tasks">Завдання<span class="sr-only">(current)</span></a>
            </li>
               <li class="nav-item">
               <a class="nav-link" href="/stats">Статистика</a>
            </li>
         </ul>
      </div>
   </nav>
	  
	  <div class="page-content page-container" id="page-content">
      <div class="padding">
         <div class="row container d-flex justify-content-center">
            <div class="col-lg-12 col-xl-6">
               <div class="card">
                  <div class="card-header">
                     <h5 class="card-header-text">Tasks:
                         <a href="/tasks">all</a>
                         <a href="/tasks?difficulty=0">easy</a>
                         <a href="/tasks?difficulty=1">mid</a>
                         <a href="/tasks?difficulty=2">hard</a>
                     </h5>
                  </div>
                  
				  <div class="card-block p-b-0">
                     <div class="row">
                        <div class="col-md-12" id="sortable">
                           {% for task in tasks %}
                               <div class="task" style="" alt="">
                                  <h6><a href="/tasks/{{ task.task_id }}">{{ task.task_name }}</a></h6>
                                  <p>{{ task.description }}</p>
                               </div>
                           {% endfor %}
{#                           #}
{#						   <div class="task" style="" alt="">#}
{#                              <h6><a href="code.html">Task 2</a></h6>#}
{#                              <p>Description. Description. Description. Description. Description. Description. Description. Description. Description. Description.</p>#}
{#                           </div>#}
{#                           #}
{#						   <div class="task" style="" alt="">#}
{#                              <h6><a href="code.html">Task 3</a></h6>#}
{#                              <p>Description. Description. Description. Description. Description. Description. Description. Description. Description. Description.</p>#}
{#                           </div>#}
                        
						</div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      </div>
      
	  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
   
   </body>
</html>