<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      
	  <title>Python code checker</title>
      
      <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
	  <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">

      <link rel="stylesheet" href="{{ url_for('static', filename='css/authorization.css') }}" type="text/css">
   </head>
   
   <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
         <a class="navbar-brand" href="index.html">ВЛПІ</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
               <li class="nav-item active">
                  <a class="nav-link" href="#">Головна<span class="sr-only">(current)</span></a>
               </li>
            </ul>
         </div>
      </nav>
     
	 <div id="logreg-forms">
      <form action="/login" class="form-signin" method="POST">
         <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">Sign in</h1>
         <div class="social-login">
            <button class="btn facebook-btn social-btn" type="button" id="loginFacebook"><span><i class="fab fa-facebook-f"></i> Sign in with Facebook</span> </button>
            <button class="btn google-btn social-btn" type="button" id="loginGoogle"><span><i class="fab fa-google-plus-g"></i> Sign in with Google+</span> </button>
         </div>
         
		 <p style="text-align:center"> OR  </p>
         
		 <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus="">
         <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
         <button class="btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> Sign in</button>
         <hr>
         <button class="btn btn-primary btn-block" type="button" id="btn-signup"><i class="fas fa-user-plus"></i> Sign up New Account</button>
      </form>
      
	  <form action="/signup" class="form-signup" method="POST">
         <div class="social-login">
            <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Sign up with Facebook</span> </button>
			<button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> Sign up with Google+</span> </button>
         </div>

			<p style="text-align:center">OR</p>
            
			<input type="text" id="user-first-name" class="form-control" placeholder="First name" required="" autofocus="">
            <input type="text" id="user-last-name" class="form-control" placeholder="Last name" required="" autofocus="">
            <input type="email" id="user-username" class="form-control" placeholder="Username" required autofocus="">
            <input type="password" id="user-pass" class="form-control" placeholder="Password" required autofocus="">
            <input type="password" id="user-repeatpass" class="form-control" placeholder="Repeat Password" required autofocus="">
            <button class="btn btn-primary btn-block" type="submit"><i class="fas fa-user-plus"></i> Sign Up</button>
            <a href="#" id="cancel_signup"><i class="fas fa-angle-left"></i> Back</a>
      </form>
      </div>

      <!-- The core Firebase JS SDK is always required and must be listed first -->
      <script src="https://www.gstatic.com/firebasejs/7.5.1/firebase-app.js"></script>
      <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-auth.js"></script>

      <script>
          // Your web app's Firebase configuration
          var firebaseConfig = {
            apiKey: "AIzaSyBJL27ERM_bE-Yp0ivnLmq9A7TTadIdjjM",
            authDomain: "test-e3e29.firebaseapp.com",
            databaseURL: "https://test-e3e29.firebaseio.com",
            projectId: "test-e3e29",
            storageBucket: "test-e3e29.appspot.com",
            messagingSenderId: "1077227279742",
            appId: "1:1077227279742:web:531a7139b7dbec49ec0f2f"
          };
          // Initialize Firebase
          firebase.initializeApp(firebaseConfig);
      </script>

      <script>
          document.getElementById('loginGoogle').onclick = function () {
              var provider = new firebase.auth.GoogleAuthProvider();
              firebase.auth().useDeviceLanguage();
              firebase.auth().signInWithPopup(provider).then(function (result) {
                  // This gives you a Google Access Token. You can use it to access the Google API.
                  var token = result.credential.accessToken;
                  // The signed-in user info.
                  var user = result.user;
                  // ...
              }).catch(function (error) {
                  // Handle Errors here.
                  var errorCode = error.code;
                  var errorMessage = error.message;
                  // The email of the user's account used.
                  var email = error.email;
                  // The firebase.auth.AuthCredential type that was used.
                  var credential = error.credential;
                  // ...
              });
          }
      </script>
      
	  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
      
	  <script src="{{ url_for('static', filename='js/authorization.js') }}"></script>

   </body>
</html>